# static/js/htmx.min.js linguist-detectable=false
# static/styles/daisyui.mjs linguist-detectable=false
# static/styles/daisyui-theme.mjs linguist-detectable=false
# static/styles/output.css linguist-generated
**/templates/** linguist-detectable=false


*.js linguist-vendored
*.mjs linguist-vendored
*.css linguist-generated

