
project_outline

dist/
build/
*.egg-info/

/media/

# Virtual Environments
venv/
env/
.venv/
ENV/

# OS 
.DS_Store
Thumbs.db

text
# --- Security & Environment ---
.env
.venv/
env/
venv/
__pycache__/
*.py[cod]

# --- Database ---
db.sqlite3
db.sqlite3-journal

# --- Django Production Assets ---
/staticfiles/

deleted.html

/static/styles/tailwindcss
/static/styles/output.css

