static/js/htmx.min.js linguist-detectable=false
static/styles/daisyui.mjs linguist-detectable=false
static/styles/daisyui-theme.mjs linguist-detectable=false
static/styles/output.css linguist-generated
**/templates/** linguist-detectable=false

staticfiles/** linguist-vendored
staticfiles/**/*.js linguist-vendored
staticfiles/admin/** linguist-vendored
